:root {
	--crimson: rgb(156 17 17);
	
}


@font-face{
	font-family: vastrex-demo;
	src: url(../../../art/vastrex-demo.regular.otf);
}

body {
	background-color: rgb(0, 0, 0);
}

header{
	background-color: var(--crimson);
	
	border: 5px ridge black;
	height: 150px;
	display: flex;

	justify-content: space-between;
	align-items: center;
	overflow: clip;
	padding-right: 65px;
	margin: 0px;
	
	
	

}

.charname {
	font-family: vastrex-demo, vastrex-demo;
	font-size: 400%;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	color: gold;
}


.belowhead {
	background-color: rgb(190, 72, 72);
	display: flex;
	flex-flow: column wrap;
	padding-top: 10px;
	height: 800px;
	
}


.logo {
	width: 15%;
	top: 10px;
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-content: flex-start;
	
	
}



.arcText {
	font-family: vastrex-demo, vastrex-demo;
	font-weight: bold;
	display:flex;
	justify-content: center;
	align-items: center;
	font-size: 400%;
	position: relative;
	color: gold;
}

.paths {
	width: 50%;
	display: block;
	margin: auto;
	
	border: 10px ridge var(--crimson);
	
	
}

.sideHeading{
	font-weight: bold;
	padding-right: 10px;
	font-size: 16pt;
}

.sideText {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-image: url(../../art/dialogue/textbox.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
	
	
	background-size: 100% 100%;
}

