
:root {
	--lizbrocolor: blue;
}

#titleText {
	background-color: red;
}

#underTitle {
	color: var(--lizbrocolor);

}
#charselectText {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.knightbutton {
	
	
	align-items: center;
	justify-content: center;
	visibility: visible;
}
.knight {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	
}
#wipCHARtext {
	
	background-image: linear-gradient(to top, yellow, red);
	text-align: bottom;
	justify-content: bottom;
	font: Helvetica;
	align-items: center;
	display: flex;
	color: white;
}
.knight:hover {
	visibility: visible;
}
.traveler {
	display: flex;
	justify-content: center;
}