
:root {
	--lizbrocolor: gold;
	
}

.charselBody{
	background-color: rgb(190, 72, 72);
	border: 10px solid black;
}

#characterselectdiv{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: row wrap;
	
}


@font-face{
	font-family: vastrex-demo;
	src: url(vastrex-demo.regular.otf);
}
.back{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	visibility: hidden;
	position: sticky;
	top: 0;
}



#titleText {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	
	position: sticky;
	top: 0;
	
	
}
#titlegame {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#qddimg {
	width: 50%;
}




#underTitle {
	color: var(--lizbrocolor);
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: vastrex-demo, vastrex-demo;
	top: 0px;
	position: sticky;
	margin-top: 2vw;
	border: 5px ridge black;
	margin-left: 35vw;
	margin-right: 35vw;
}
.charselect {
	display: flex;
	justify-content: center;
	align-items: center;
}
#charselectText {
	
	width: 50%;
	margin-top: -20vw;
	
	
}
#hoodlumbutton {
	display: block;
	position: relative;
	width: 200%;
	align-items: center;
	justify-content: center;
	visibility: visible;
	margin-top: 5vw;
	margin-bottom: 0vw;
	margin-left: -22vw;
}

#knightbutton {
	display: block;
	position: relative;
	width: 275%;
	align-items: center;
	justify-content: center;
	visibility: visible;
	margin-top: 10vw;
	margin-bottom: 2vw;
	margin-right: 0vw;
}
#hoodLabel {
	justify-content: center;
	display: flex;
	align-content: center;
	font-family: vastrex-demo, vastrex-demo;
	visibility: visible;
	margin-left: 0vw;
	margin-top: 0vw;
}
#kniLabel {
	justify-content: center;
	display: flex;
	align-content: center;
	font-family: vastrex-demo, vastrex-demo;
	visibility: visible;
	margin-left: -2vw;
	margin-top: -10vw;
	margin-bottom: 8vw;
}
.hoodlum{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	visibility: hidden;
	z-index: 3;
}
.knight {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	visibility: hidden;
	z-index: 4;
	
}
#wipCHARtext {
	
	background-image: radial-gradient(circle, red, yellow);
	text-align: center;
	justify-content: center;
	font: Helvetica;
	align-items: center;
	margin-top: 0vw;
	display: flex;
	color: black;
	font-family: vastrex-demo, vastrex-demo;
}
.knight:hover {
	visibility: visible;
	width: 25%;
}
#travLabel {
	justify-content: center;
	display: flex;
	align-content: center;
}
.hoodlum:hover {
	visibility: visible;
	width: 25%;
}

.traveler {
	margin-top: 5vw;
	display: flex;
	justify-content: center;
	font-family: vastrex-demo, vastrex-demo;
	align-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	z-index: 5;
}

.traveler:hover {
	width: 25%;
	
}

#backbutton {

	object-fit: fill;
	visibility: visible;
	
}
.back:hover{
	visibility: visible;
}

.startbutton {
	display: flex;
	justify-content: center;
	align-items: center;
}
#backtext {
	font-family: vastrex-demo, vastrex-demo;
}

footer {
	height: 200px;
}

.belowhead {
	background-color: rgb(190, 72, 72);
	border: 10px ridge black;
}

#indexbody{
	background-color: black;
	border: 10px ridge rgb(190, 72, 72);
	
}