
:root {
	--lizbrocolor: gold;
}

.back{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	visibility: hidden;
	position: sticky;
	top: 0;
}



#titleText {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	
	position: sticky;
	top: 0;
	
}
#titlegame {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#qddimg {
	width: 50%;
}




#underTitle {
	color: var(--lizbrocolor);
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.charselect {
	display: flex;
	justify-content: center;
	align-items: center;
}
#charselectText {
	
	width: 50%;
	
	
}
.knightbutton {
	
	
	align-items: center;
	justify-content: center;
	visibility: visible;
}
.knight {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	
}
#wipCHARtext {
	
	background-image: linear-gradient(to top, yellow, red);
	text-align: bottom;
	justify-content: bottom;
	font: Helvetica;
	align-items: center;
	display: flex;
	color: white;
}
.knight:hover {
	visibility: visible;
}
.traveler {
	display: flex;
	justify-content: center;
}

#backbutton {

	object-fit: fill;
	visibility: visible;
	
}
.back:hover{
	visibility: visible;
}

.startbutton {
	display: flex;
	justify-content: center;
	align-items: center;
}