
:root {
	--lizbrocolor: gold;
	--crimson: rgb(156 17 17);
}

@font-face{
	font-family: vastrex-demo;
	src: url(vastrex-demo.regular.otf);
}
@font-face{
	font-family: quintessential-reg;
	src: url(Quintessential-Regular.ttf);
}

.charselBody{
	background-color: rgb(190, 72, 72);
	border: 10px solid black;
}

#characterselectdiv{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: row wrap;
	
}




.back{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	visibility: hidden;
	position: sticky;
	top: 0;
}



#titleText {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	
	position: sticky;
	top: 0;
	
	
}
#titlegame {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#qddimg {
	width: 50%;
}




#underTitle {
	color: var(--lizbrocolor);
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: vastrex-demo, vastrex-demo;
	top: 0px;
	position: sticky;
	margin-top: 2vw;
	border: 5px ridge black;
	margin-left: 35vw;
	margin-right: 35vw;
}
.charselect {
	display: flex;
	justify-content: center;
	align-items: center;
}
#charselectText {
	
	width: 50%;
	margin-top: -20vw;
	
	
}
#hoodlumbutton {
	display: block;
	position: relative;
	width: 200%;
	align-items: center;
	justify-content: center;
	visibility: visible;
	margin-top: 5vw;
	margin-bottom: 0vw;
	margin-left: -22vw;
}

#knightbutton {
	display: block;
	position: relative;
	width: 275%;
	align-items: center;
	justify-content: center;
	visibility: visible;
	margin-top: 10vw;
	margin-bottom: 2vw;
	margin-right: 0vw;
}
#hoodLabel {
	justify-content: center;
	display: flex;
	align-content: center;
	font-family: vastrex-demo, vastrex-demo;
	visibility: visible;
	margin-left: 0vw;
	margin-top: 0vw;
}
#kniLabel {
	justify-content: center;
	display: flex;
	align-content: center;
	font-family: vastrex-demo, vastrex-demo;
	visibility: visible;
	margin-left: -2vw;
	margin-top: -10vw;
	margin-bottom: 8vw;
}
.hoodlum{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	visibility: hidden;
	z-index: 3;
}
.knight {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	visibility: hidden;
	z-index: 4;
	
}
#wipCHARtext {
	
	background-image: radial-gradient(circle, red, yellow);
	text-align: center;
	justify-content: center;
	font: Helvetica;
	align-items: center;
	margin-top: 0vw;
	display: flex;
	color: black;
	font-family: vastrex-demo, vastrex-demo;
}
.knight:hover {
	visibility: visible;
	width: 25%;
}
#travLabel {
	justify-content: center;
	display: flex;
	align-content: center;
}
.hoodlum:hover {
	visibility: visible;
	width: 25%;
}

.traveler {
	margin-top: 5vw;
	display: flex;
	justify-content: center;
	font-family: vastrex-demo, vastrex-demo;
	align-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	z-index: 5;
}

.traveler:hover {
	width: 25%;
	
}

#backbutton {

	object-fit: fill;
	visibility: visible;
	
}
.back:hover{
	visibility: visible;
}

.startbutton {
	display: flex;
	justify-content: center;
	align-items: center;
}
#backtext {
	font-family: vastrex-demo, vastrex-demo;
}

footer {
	height: 200px;
	
}

.belowhead1 {
	background-color: rgb(190, 72, 72);
	
}

#indexbody{
	background-color: black;
	border: 10px ridge rgb(190, 72, 72);
	
}



body {
	background-color: rgb(0, 0, 0);
}

/* Everything in the header */

.gameheader{
	background-color: var(--crimson);
	
	border: 5px ridge black;
	height: 150px;
	display: flex;

	justify-content: space-between;
	align-items: center;
	overflow: clip;
	padding-right: 65px;
	margin: 0px;
	
	
	

}


.charname {
	font-family: vastrex-demo, vastrex-demo;
	font-size: 4vw;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	color: gold;
	padding-right: 0px;
}





.logo {
	width: 15%;
	top: 10px;
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-content: flex-start;
	
	
}



.arcText {
	font-family: vastrex-demo, vastrex-demo;
	font-weight: bold;
	display:flex;
	justify-content: center;
	align-items: center;
	font-size: 4vw;
	position: relative;
	color: gold;
}

/* Everything below the header*/

.belowhead {
	background-color: rgb(190, 72, 72);
	display: flex;
	flex-flow: column wrap;
	
	height: 800px;
	justify-content: center;
	align-items: center;
}

/* the center image for the current path*/

.paths {
	width: 50%;
	display: block;
	margin: auto;
	margin-top: 2vw;
	border: 10px ridge var(--crimson);
	
	
}



/* Dialogue and arrows*/

.arrows {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding-left: 200px;
	padding-right: 200px;
	background-color: rgb(190, 72, 72);
	margin-top: -5vw;
	
}

.sideHeading{
	font-weight: bold;
	padding-right: 15px;
	font-size: 16pt;
}

.sideText {
	display: flex;
	font-family: quintessential-reg, quintessential-reg;
	justify-content: center;
	align-items: center;
	text-align: center;
	
	background-color: rgb(255, 247, 214);
	border: 10px ridge rgb(255, 208, 91);
	width: 500px
	
	
}

.left {
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.rightlabel {
	font-family: vastrex-demo, vastrex-demo;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3vw;
}

.leftlabel {
	font-family: vastrex-demo, vastrex-demo;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3vw;
}

/* Death template css */

.deathHeader {
	background-color: rgb(66, 32, 32);
	
	border: 5px ridge black;
	height: 150px;
	display: flex;

	justify-content: space-between;
	align-items: center;
	overflow: clip;
	padding-right: 65px;
	margin: 0px;
	
}

.deathBody {
	display: flex;
	background-color: gray;
	align-items: center;
	justify-content: center;
	flex-flow: column wrap;
}



.youdied {
	display: flex;
	width: 50%;
	align-items: center;
	justify-content: center;
	flex-flow: column wrap;
	margin-bottom: -200px;
	margin-left: -35px;
}

.startover {
	display: flex;
	width: 50%;
	align-items:center;
	justify-content:center;
	flex-flow: column wrap;
	margin-left: -10px;
	margin-top: -20px;

	
}

.dtDiv{
	display: flex;
	flex-flow: column wrap;
	width: 100%;
}

.deathtext{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	font-family: quintessential-reg, quintessential-reg;
	text-align: center;
	font-size: 2vw;
	position: scroll;
}

#deathform {
	display: flex;
	width: 50%;
	align-items:center;
	justify-content:center;
	flex-flow: column wrap;
	margin-left: -10px;
	margin-right: -10px;
}
.links {
	color: blue;
}

.links:hover{
	color: green;
}