html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}

.image-transition {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


.image1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;      
  object-position: center;  
  background-color: black;  
  animation: fadeOut 8s ease-in-out forwards;
  z-index: 1;
}



.image2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40vw;
  height: auto;
  opacity: 0;
  transform: translate(-50%, -50%);
  animation: appearSecond 8s ease-in-out forwards;
  z-index: 3;
}


.image3 {
  position: absolute;
  top: 70%;
  left: 50%;
  width: 20vw;            
  height: auto;
  opacity: 0;
  transform: translate(-50%, -50%);
  animation: appearThird 10s ease-in-out forwards;
  z-index: 2;
}


.fade-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  top: 0;
  left: 0;
  animation: fadeBlack 8s ease-in-out forwards;
  z-index: 4;
}




@keyframes fadeOut {
  0% { opacity: 1; }
  40% { opacity: 1; }
  70% { opacity: 0; }
  100% { opacity: 0; }
}


@keyframes fadeBlack {
  0% { opacity: 0; }
  40% { opacity: 0; }
  55% { opacity: 1; }
  70% { opacity: 1; }
  100% { opacity: 0; }
}


@keyframes appearSecond {
  0% { opacity: 0; }
  60% { opacity: 0; }
  80% { opacity: 1; }
  100% { opacity: 1; }
}


@keyframes appearThird {
  0% { opacity: 0; }
  62.5% { opacity: 0; }
  80% { opacity: 1; }
  100% { opacity: 1; }
}
